---
// Component imports
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Button from "../components/ui/Button.astro";
import { Icon } from "astro-icon/components";
// import Pill from "../components/ui/Pill.astro";
import ServiceCard from "../components/ServiceCard.astro";
// import ProjectCard from "../components/ProjectCard.astro";

// Asset imports
import hero from "../assets/hero.png";
// import gridLines from "../assets/grid-lines.svg";
// import headerTablet from "../assets/header-tablet.png";

// Data imports
import { services } from "../utils/services";
import ProjectCard from "../components/ProjectCard.astro";
// import { projects } from "../utils/projects";
---

<Layout
  title="Fantom"
  description="We are a designer/developer duo experienced in making digital experiences that feel great, work well, and help achieve your business goals."
>
  <main>
    <!-- Hero -->
    <section id="top" class="flex flex-col items-center overflow-x-clip">
      <div class="pb-24 ~px-4/56 ~pt-24/32">
        <div class="flex flex-col items-center gap-4 text-center">
          <h1 class="text-balance leading-tight ~/lg:~text-4xl/6xl">
            Sitios web que ayudan a las marcas a <span class="font-semibold"
              >alcanzar sus objetivos.</span
            >
          </h1>
          <p class="~text-base/lg sm:text-balance">
            Somos un dúo diseñador / desarrollador con experiencia en crear
            experiencias digitales que se sienten geniales, funcionan bien y
            resuelven problemas reales para los negocios.
          </p>
          <div class="mt-2 grid w-full ~gap-2/6 sm:w-auto sm:grid-cols-2">
            <Button icon="arrow-fwd">Solicitar Cotización</Button>
            <Button icon="arrow-fwd" intent={"terciary"}>Ver Proyectos</Button>
          </div>
        </div>
      </div>
      <div class="w-[135%] sm:w-full">
        <Image src={hero} alt={"A set of glass cards"} />
      </div>
    </section>
    <!-- Services -->
    <section class="flex flex-col pb-20 pt-32 ~gap-12/16 ~px-4/56">
      <div class="flex flex-wrap items-center ~gap-2/4">
        <h2 class="font-medium leading-tight ~text-4xl/5xl">
          Servicios para <span class="text-brand">triunfar en la web</span>
        </h2>
        <Icon name={"arrow-dia"} class="~size-6/8" />
      </div>
      <div
        class="grid grid-cols-[repeat(auto-fit,minmax(320px,1fr))] ~gap-8/16"
      >
        {services.map((service) => <ServiceCard service={service} />)}
      </div>
      <div class="mt-16 flex flex-col items-center gap-1 text-center">
        <h3 class="text-xl font-medium">Utilizamos tecnologías poderosas.</h3>
        <p class="font-regular leading-relaxed opacity-60">
          Que harán que tu sitio web sea rápido, confiable y resista el paso del
          tiempo.
        </p>
        <div class="flex flex-wrap gap-4">
          <Icon name="tech/webflow" class="size-10" />
          <Icon name="tech/astro" class="size-10" />
          <Icon name="tech/react" class="size-10" />
          <Icon name="tech/tailwind" class="size-10" />
          <Icon name="tech/vercel" class="size-10" />
          <Icon name="tech/supabase" class="size-10" />
        </div>
      </div>
    </section>
    <!-- Projects -->
    <section class="flex flex-col pb-32 pt-20 ~gap-12/16 ~px-4/56">
      <div class="flex flex-wrap items-center ~gap-2/4">
        <h2 class="font-medium leading-tight ~text-4xl/5xl">
          Proyectos <span class="text-brand">Destacados</span>
        </h2>
        <Icon name={"arrow-dia"} class="~size-6/8" />
      </div>
      <ul
        class="grid gap-8 sm:grid-cols-2 sm:grid-rows-[1.5fr_1fr_2fr_1fr_1.5fr]"
      >
        <ProjectCard
          project={{
            name: "La Postreria 77",
            title:
              "Un sitio web limpio y funcional con un menú QR manejado a través del CMS de Webflow.",
            image: { src: "/images/lp.jpg", alt: "Project Image" },
            tags: ["Webflow", "Webflow CMS", "Lottie"],
          }}
        />
        <ProjectCard
          project={{
            name: "Party Game Companion",
            title:
              "Una aplicación web que te permite llevar la puntuación y mostrar una tabla de clasificación estética.",
            image: { src: "/images/pgc.jpg", alt: "Project Image" },
            tags: ["React", "Vite", "Tailwind", "Zustand", "Netlify"],
          }}
          gridPlacement="sm:row-span-2"
        />
        <ProjectCard
          project={{
            name: "The Wrap Co.",
            title:
              "Un menú digital visualmente atractivo que aprovecha las capacidades del CMS de Webflow para potenciar un código QR habilitado.",
            image: { src: "/images/twc.jpg", alt: "Project Image" },
            tags: ["Astro", "React", "TailwindCSS", "Netlify"],
          }}
          gridPlacement="sm:row-span-2"
        />
        <ProjectCard
          project={{
            name: "La Pastelería de La Postreria 77",
            title:
              "Una Landing Page minimalista creada con el poder de Astro y Content Collections para lograr la máxima velocidad.",
            image: { src: "/images/lpdlp.jpg", alt: "Project Image" },
            tags: ["Astro", "React", "TailwindCSS", "libSQL", "Vercel"],
          }}
          gridPlacement="sm:row-span-2"
        />
        <ProjectCard
          project={{
            name: "Herrmat",
            title:
              "Un sitio web con un catálogo de productos, filtros de busqueda y categorías.",
            image: { src: "/images/herrmat.jpg", alt: "Project Image" },
            tags: ["Astro", "React", "TailwindCSS", "libSQL", "Vercel"],
          }}
          gridPlacement="sm:row-span-2"
        />
        <aside class="row-start-4 sm:row-start-auto">
          <div
            class="group/card relative flex flex-col items-start gap-6 overflow-clip rounded-lg bg-brand bg-opacity-5 p-8 transition duration-300 ease-out hover:bg-opacity-10"
          >
            <span class="font-mono text-xs opacity-40"
              >Comenzar un proyecto</span
            >
            <h5 class="-mt-3 text-2xl">
              ¿Estás listo para elevar el sitio web de tu marca?
            </h5>
            <Button icon="arrow-fwd"> Solicitar una Cotización </Button>
            <Icon
              name="eyes"
              class="absolute right-0 top-0 -z-10 h-40 w-52 -translate-x-8 translate-y-1/4 opacity-[1%] transition duration-500 ease-out group-hover/card:scale-105 group-hover/card:opacity-5"
            />
          </div>
        </aside>
      </ul>
    </section>
  </main></Layout
>
