---
// Component imports
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Button from "../components/ui/Button.astro";
import { Icon } from "astro-icon/components";
// import Pill from "../components/ui/Pill.astro";
import ServiceCard from "../components/ServiceCard.astro";
// import ProjectCard from "../components/ProjectCard.astro";

// Asset imports
import hero from "../assets/hero.png";
// import gridLines from "../assets/grid-lines.svg";
// import headerTablet from "../assets/header-tablet.png";

// Data imports
import { services } from "../utils/services";
// import { projects } from "../utils/projects";
---

<Layout title="Fantom" description="Web Design and development agency.">
  <main>
    <!-- Hero -->
    <section id="top">
      <div class="pb-20 pt-32 ~px-4/56">
        <div class="flex flex-col items-center gap-4 text-balance text-center">
          <h1 class="leading-tight ~/lg:~text-4xl/6xl">
            Sitios web que ayudan a las marcas a <span class="font-semibold"
              >alcanzar sus objetivos.</span
            >
          </h1>
          <p class="~text-base/lg">
            Somos un dúo diseñador / desarrollador con experiencia en crear
            experiencias digitales que se sienten geniales, funcionan bien y
            resuelven problemas reales para los negocios.
          </p>
          <div class="mt-2 grid w-full ~gap-2/6 sm:w-auto sm:grid-cols-2">
            <Button icon="arrow-fwd">Solicitar Cotización</Button>
            <Button icon="arrow-fwd" intent={"terciary"}>Ver Proyectos</Button>
          </div>
        </div>
      </div>
      <div>
        <Image src={hero} alt={"A set of glass cards"} />
      </div>
    </section>
    <!-- Services -->
    <section class="flex flex-col py-20 ~gap-12/16 ~px-4/56">
      <div class="flex flex-wrap items-end gap-2">
        <h2 class="font-medium leading-tight ~text-4xl/5xl">
          Servicios para <span class="text-brand">triunfar en la web</span>
        </h2>
        <Icon name={"arrow-dia"} class="size-12 rotate-90" />
      </div>
      <div class="grid grid-cols-1 ~gap-8/16 md:grid-cols-2">
        {services.map((service) => <ServiceCard service={service} />)}
      </div>
      <div>Aquí van los logos de las tecnologías.</div>
    </section>
  </main>
</Layout>
