---
// Component imports
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Button from "../components/ui/Button.astro";
import { Icon } from "astro-icon/components";
import ServiceCard from "../components/ServiceCard.astro";

// Asset imports
import hero from "../assets/hero.png";
import heroGradient from "../assets/hero-gradient.webp";
// Projects
import postreshop from "../assets/projects/postreshop.webp";
import pgc from "../assets/projects/pgco.png";
import postreria from "../assets/projects/postreria.png";
import pasteleria from "../assets/projects/pasteleria.png";
import wraps from "../assets/projects/wraps.png";

// Data imports
import { services } from "../utils/services";
import ProjectCard from "../components/ProjectCard.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<Layout
  title="Fantom"
  description="We are a designer/developer duo experienced in making digital experiences that feel great, work well, and help achieve your business goals."
>
  <main>
    <!-- Hero -->
    <section
      id="top"
      class="relative flex flex-col items-center overflow-x-clip"
    >
      <div class="relative z-10 ~px-4/56 ~pt-24/32 ~pb-16/24">
        <div class="flex max-w-xl flex-col items-center gap-4 text-center">
          <h1 class="text-balance leading-tight ~/lg:~text-3xl/5xl">
            Developing Websites <span class="text-brand-3"
              >Generating Conversions</span
            >
          </h1>
          <p class="max-w-prose opacity-80 ~text-base/lg">
            We create premium web experiences that help brands achieve their
            goals and elevate their users' experience.
          </p>
          <div class="mt-2 grid w-full ~gap-2/6 sm:w-auto sm:grid-cols-2">
            <Button>Request a Proposal</Button>
            <Button intent={"secondary"}>View Showcase</Button>
          </div>
        </div>
      </div>
      <div class="relative z-20 w-[185%] sm:w-full">
        <Image src={hero} alt={"A set of glass cards"} />
      </div>
      <Image
        src={heroGradient}
        alt={"A decorative gradient"}
        aria-hidden
        class={"absolute ~bottom-44/64 max-w-[150%] sm:w-full h-[65%] sm:h-[80%] z-0"}
      />
    </section>
    <!-- Services -->
    <section
      id="services"
      class="flex flex-col pb-20 pt-32 ~gap-12/16 ~px-4/56"
    >
      <SectionTitle title="Services that help you" span="thrive online" />
      <!-- <div -->
      <!--   class="grid ~gap-8/16 sm:grid-cols-[repeat(auto-fit,minmax(320px,1fr))]" -->
      <!-- > -->
      <!--   {services.map((service) => <ServiceCard service={service} />)} -->
      <!-- </div> -->
      <div class="mt-16 flex flex-col items-center gap-1 text-center">
        <h3 class="text-xl font-medium">We use powerful technologies.</h3>
        <p class="font-regular leading-relaxed opacity-60">
          That will make your website fast, reliable and stand the test of time.
        </p>
        <div class="flex flex-wrap gap-4">
          <Icon name="tech/webflow" class="size-10" />
          <Icon name="tech/astro" class="size-10" />
          <Icon name="tech/react" class="size-10" />
          <Icon name="tech/tailwind" class="size-10" />
          <Icon name="tech/vercel" class="size-10" />
          <Icon name="tech/supabase" class="size-10" />
        </div>
      </div>
    </section>
    <!-- Projects -->
    <section
      id="projects"
      class="flex flex-col pb-32 pt-20 ~gap-12/16 ~px-4/56"
    >
      <SectionTitle title="Featured" span="Projects" />
      <ul
        class="grid gap-8 sm:grid-cols-2 sm:grid-rows-[1.5fr_1fr_2fr_1fr_1.5fr]"
      >
        <ProjectCard
          project={{
            name: "La Postre Shop",
            title:
              "A custom e-commerce website that generates sales and integrates with POS.",
            image: { src: postreshop, alt: "Project Image" },
            tags: ["Astro", "React", "TailwindCSS", "libSQL", "Vercel"],
          }}
        />
        <ProjectCard
          project={{
            name: "Party Game Companion",
            title:
              "A web application that allows you to keep score and display an aesthetically pleasing leaderboard.",
            image: { src: pgc, alt: "Project Image" },
            tags: ["React", "Vite", "Tailwind", "Zustand", "Netlify"],
          }}
          gridPlacement="sm:row-span-2"
        />
        <ProjectCard
          project={{
            name: "The Wrap Co.",
            title:
              "A marketing website that makes users crave their products and encourages them to visit the store.",
            image: { src: wraps, alt: "Project Image" },
            tags: ["Astro", "React", "TailwindCSS", "Netlify"],
          }}
          gridPlacement="sm:row-span-2"
        />
        <ProjectCard
          project={{
            name: "La Pastelería de La Postreria 77",
            title:
              "A landing page that explains this cake shop modern concept and turns visitors into customers.",
            image: { src: pasteleria, alt: "Project Image" },
            tags: ["Astro", "React", "TailwindCSS", "libSQL", "Vercel"],
          }}
          gridPlacement="sm:row-span-2"
        />
        <ProjectCard
          project={{
            name: "La Postreria 77",
            title:
              "A clean and functional website with a QR menu powered by Webflow CMS.",
            image: { src: postreria, alt: "Project Image" },
            tags: ["Webflow", "Webflow CMS", "Lottie"],
          }}
          gridPlacement="sm:row-span-2"
        />
        <aside class="row-start-4 sm:row-start-auto">
          <div
            class="group/card relative flex flex-col items-start overflow-clip rounded-lg border border-light/10 bg-light/[2%] p-8 transition duration-300 ease-out hover:bg-light/[5%]"
          >
            <div class="max-w-72">
              <h5 class="mb-2 text-2xl">
                Ready to elevate your brand’s website?
              </h5>
              <p class="mb-4 text-xs font-light leading-relaxed opacity-60">
                Generate more conversions and engage with your customer with a
                unique web experience.
              </p>
              <Button>Solicitar una Cotización</Button>
            </div>
            <Icon
              name="eyes"
              class="absolute right-0 top-0 -z-10 h-52 w-64 translate-y-4 opacity-[1%] transition duration-500 ease-out group-hover/card:scale-105 group-hover/card:opacity-5"
            />
          </div>
        </aside>
      </ul>
    </section>
  </main></Layout
>
