---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";

import gridLines from "../assets/grid-lines.svg";
import headerProjects from "../assets/header-projects.png";
---

<Layout
  title="Fantom | Design & Development"
  description="We develop unique websites to help  brands reach their business goals."
>
  <main class="overflow-x-clip" <header class="relative text-light">
    <div id="header-content-holder" class="flex flex-col pt-52">
      <div
        class="px-page text-light flex flex-col gap-6 items-start relative z-20"
      >
        <h1 class="font-display text-7xl leading-tight max-w-[80%]">
          We develop unique websites to help brands reach their business goals.
        </h1>
        <p class="text-2xl leading-loose opacity-60 max-w-[50ch]">
          Our studio specializes in building intentionally designed websites
          that boosts conversion rates and create more immersive experiences for
          their users.
        </p>
        <Button text="Request a Proposal" href="/" buttonType="link" />
      </div>
      <div class="flex flex-col items-center">
        <Image
          src={headerProjects}
          alt="Hero Image"
          class="pointer-events-none relative z-20 w-[125%] max-w-none -translate-y-[15%]"
        />
      </div>
    </div>
    <div
      id="header-bg"
      class="absolute top-0 left-0 right-0 h-[95vh] bg-gradient-to-t from-g-primary to-g-secondary text-light"
    >
      <Image
        src={gridLines}
        alt="Hero Image"
        class="pointer-events-none absolute z-0 top-0 left-0 w-full h-[200%] right-0"
      />
    </div>
  </main>
  <section class="h-screen">
    <div class="flex flex-col gap-20 px-page">
      <div class="grid grid-cols-2 gap-6 items-end border-b-brand border-solid pb-16 border-b-2">
        <h2 class="text-6xl font-display col-start-1">What we do best</h2>
        <p class="text-2xl max-w-[40ch] col-start-1 row-start-2 leading-relaxed">
          These are some ways we make every website special and help you stand
          out in the online space.
        </p>
        <span class="uppercase text-end row-span-2 text-2xl">[01. Services]</span>
      </div>
      <div class="grid grid-cols-4 gap-16">
        <div>
          <h3 class="text-4xl font-display">Intentional Design</h3>
          <p class="text-2xl leading-relaxed text-dark font-light">
            We design websites that are not only visually appealing but also
            functional and user-friendly.
          </p>
        </div>
        <div>
          <h3 class="text-4xl font-display">Intentional Design</h3>
          <p class="text-2xl leading-relaxed text-dark font-light">
            We design websites that are not only visually appealing but also
            functional and user-friendly.
          </p>
        </div>
        <div>
          <h3 class="text-4xl font-display">Intentional Design</h3>
          <p class="text-2xl leading-relaxed text-dark font-light">
            We design websites that are not only visually appealing but also
            functional and user-friendly.
          </p>
        </div>
        <div>
          <h3 class="text-4xl font-display">Intentional Design</h3>
          <p class="text-2xl leading-relaxed text-dark font-light">
            We design websites that are not only visually appealing but also
            functional and user-friendly.
          </p>
        </div>
        <div>
          <h3 class="text-4xl font-display">Intentional Design</h3>
          <p class="text-2xl leading-relaxed text-dark font-light">
            We design websites that are not only visually appealing but also
            functional and user-friendly.
          </p>
        </div>
        <div>
          <h3 class="text-4xl font-display">Intentional Design</h3>
          <p class="text-2xl leading-relaxed text-dark font-light">
            We design websites that are not only visually appealing but also
            functional and user-friendly.
          </p>
        </div>
        <div>
          <h3 class="text-4xl font-display">Intentional Design</h3>
          <p class="text-2xl leading-relaxed text-dark font-light">
            We design websites that are not only visually appealing but also
            functional and user-friendly.
          </p>
        </div>
        <div>
          <h3 class="text-4xl font-display">Intentional Design</h3>
          <p class="text-2xl leading-relaxed text-dark font-light">
            We design websites that are not only visually appealing but also
            functional and user-friendly.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="h-screen"></section>
  <section class="h-screen"></section>
</Layout>
