---
// Component imports
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import SectionHeader from "../components/SectionHeader.astro";
import ServiceCard from "../components/ServiceCard.astro";

// Asset imports
import gridLines from "../assets/grid-lines.svg";
import headerProjects from "../assets/header-projects.png";
// Project images
import lp77 from "../assets/projects/postreria.png";
---

<Layout
  title="Fantom | Design & Development"
  description="We develop unique websites to help  brands reach their business goals."
>
  <main class="overflow-x-clip" <header class="relative text-light">
    <div id="header-content-holder" class="flex flex-col pt-52">
      <div
        class="px-page text-light flex flex-col gap-6 items-start relative z-20"
      >
        <h1 class="font-display text-7xl leading-tight max-w-[80%]">
          We develop unique websites to help brands reach their business goals.
        </h1>
        <p class="text-2xl leading-loose opacity-60 max-w-[50ch]">
          Our studio specializes in building intentionally designed websites
          that boosts conversion rates and create more immersive experiences for
          their users.
        </p>
        <Button text="Request a Proposal" href="/" buttonType="link" />
      </div>
      <div class="flex flex-col items-center">
        <Image
          src={headerProjects}
          alt="Hero Image"
          class="pointer-events-none relative z-20 w-[125%] max-w-none -translate-y-[15%]"
        />
      </div>
    </div>
    <div
      id="header-bg"
      class="absolute top-0 left-0 right-0 h-[95vh] bg-gradient-to-t from-g-primary to-g-secondary text-light"
    >
      <Image
        src={gridLines}
        alt="Hero Image"
        class="pointer-events-none absolute z-0 top-0 left-0 w-full h-[200%] right-0"
      />
    </div>
  </main>
  <section class="pb-32">
    <!--Section header conatining title and description -->
    <div class="flex flex-col gap-20 px-page">
      <SectionHeader
        title="What we do best"
        description="These are some ways we make every website special and help you stand out in the online space."
        sectionNumber={1}
        sectionName="Services"
      />
      <!--Grid for service cards -->
      <div class="grid grid-cols-4 gap-16">
        <ServiceCard
          title="Intentional Design"
          description="We design websites that are not only visually appealing but also functional and user-friendly."
          icon="int-design"
        />
        <ServiceCard
          title="Advanced Interactions"
          description="From basic to complex animations – fully leverage visual storytelling in your website."
          icon="adv-interactions"
        />
        <ServiceCard
          title="Integrations"
          description="Connect your website to tools you love like Notion, Airtable, Google Sheets and more."
          icon="integrations"
        />
        <ServiceCard
          title="Content Creation"
          description="We create hight-quality content for your blog and other pages to make your site easily findable."
          icon="content-creation"
        />
        <ServiceCard
          title="Content Management"
          description="Create, architect, and manage content. Implement complex filter systems with a personalized CMS."
          icon="content-management"
        />
        <ServiceCard
          title="Project Cleanup"
          description="We make sure to deliver a clean project to make future endeavors more easily approachable."
          icon="project-cleanup"
        />
        <ServiceCard
          title="SEO optimization"
          description="We audit and optimize your website to make it rank faster and higher on search engines."
          icon="seo"
        />
        <ServiceCard
          title="Analytics"
          description="We track your site’s performance using Google Analytics and other tools."
          icon="analytics"
        />
      </div>
    </div>
  </section>
  <section class="py-32">
    <div class="flex flex-col gap-20 px-page">
      <SectionHeader
        title="Our work defines us"
        description="We focus on making every project tell it’s unique story and help the business thrive in the online space."
        sectionNumber={2}
        sectionName="Projects"
      />
      <ul class="grid grid-cols-3 gap-8">
        <li class="flex flex-col gap-4">
          <div class="rounded-2xl overflow-hidden aspect-square">
            <Image src={lp77} alt="La Postreria 77" class="size-full object-cover" />
          </div>
          <div class="flex justify-between gap-8">
            <div>
              <h3 class="text-2xl font-display">La Postreria 77</h3>
              <span class="uppercase opacity-60 text-xs">Marketing site</span>
            </div>
            <p class="text-xl">
              Design & Development
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section></section>
</Layout>
