---
// Component imports
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Button from "../components/ui/Button.astro";
import Pill from "../components/ui/Pill.astro";
import ServiceCard from "../components/ServiceCard.astro";
import ProjectCard from "../components/ProjectCard.astro";

// Asset imports
import gridLines from "../assets/grid-lines.svg";
import headerTablet from "../assets/header-tablet.png";

// Data imports
import { services } from "../utils/services";
import { projects } from "../utils/projects";
---

<Layout
  title="Fantom | Design & Development"
  description="We develop unique websites to help  brands reach their business goals."
>
  <script src="../utils/homeAnimations.js"></script>
  <main>
    <header
      class="relative flex min-h-screen flex-col items-center justify-between gap-8 overflow-clip bg-gradient-to-b from-g-secondary to-g-primary pt-32"
    >
      <div
        class="relative z-20 flex max-w-3xl flex-grow flex-col items-center justify-center gap-2 text-center"
        id="header-comp"
      >
        <h1 class="font-display text-5xl leading-tight">
          Unique websites that <br /><span class="text-alt"
            >increase conversions</span
          > for brands.
        </h1>
        <p
          class="mb-4 text-balance text-xl font-medium leading-relaxed opacity-60"
        >
          We specialize in building intentionally designed websites that create
          more immersive experiences for your users.
        </p>
        <div>
          <Button intent={"secondary"} icon="proposal"
            >Request a Proposal</Button
          >
        </div>
      </div>
      <Image
        src={headerTablet}
        alt="Tablet mockup that shows good user experience."
        class="relative z-20 w-4/5"
        id="header-tablet"
      />
      <Image
        src={gridLines}
        alt="Decorative grid lines"
        class="absolute left-0 top-0 z-10 w-full"
      />
    </header>
    <section class="pb-32 pt-80">
      <div class="flex flex-col gap-28 px-page">
        <!--Section header conatining title and description -->
        <div id="services" class="flex flex-col items-start gap-3">
          <Pill>Services</Pill>
          <h2 class="font-display text-5xl">
            Everything you need to <span class="text-alt">thrive online</span>
          </h2>
          <p class="text-xl font-medium leading-relaxed opacity-60">
            These are some ways we make every website special and help you stand
            out in the online space.
          </p>
        </div>
        <!--Grid for service cards -->
        <div id="service-cards" class="grid grid-cols-3 gap-16">
          {services.map((service) => <ServiceCard service={service} />)}
        </div>
        <div id="tech" class="mt-16 flex flex-col items-center gap-2">
          <h3 class="font-display text-xl font-medium">
            We use powerful technologies
          </h3>
          <p class="font-medium opacity-60">
            That will make your website fast, reliable and stand the test of
            time.
          </p>
          <div class="flex gap-8">
            <Icon name="tech/webflow" class="size-12" />
            <Icon name="tech/astro" class="size-12" />
            <Icon name="tech/react" class="size-12" />
            <Icon name="tech/tailwind" class="size-12" />
            <Icon name="tech/vercel" class="size-12" />
            <Icon name="tech/supabase" class="size-12" />
          </div>
        </div>
      </div>
    </section>
    <section class="pb-60 pt-32">
      <div class="flex flex-col gap-20 px-page">
        <!--Section header conatining title and description -->
        <div
          id="projects"
          class="section-header flex flex-col items-center gap-3 text-center"
        >
          <Pill>Projects</Pill>
          <h2 class="font-display text-5xl">
            We believe our work <span class="text-alt">defines us</span>
          </h2>
          <p
            class="max-w-[50ch] text-xl font-medium leading-relaxed opacity-60"
          >
            We focus on making every project tell it’s unique story and help the
            business thrive in the online space.
          </p>
        </div>
        <!--Grid for project cards -->
        <ul id="project-cards" class="group/grid grid grid-cols-3 gap-8">
          {projects.map((project) => <ProjectCard project={project} />)}
        </ul>
      </div>
    </section>
  </main>
</Layout>
