---
import { Image } from "astro:assets";
import logoFull from "../assets/logo-full.svg";
import { Icon } from "astro-icon/components";
import Button from "./ui/Button.astro";
---

<footer
  id="contact"
  class="flex flex-col gap-8 rounded-t-[4rem] bg-dark pb-16 pt-20 text-light ~px-4/20 sm:pb-8"
>
  <div class="flex flex-col gap-8">
    <!-- CTA and links -->
    <div class="flex flex-wrap items-start justify-between gap-16">
      <div>
        <h4 class="text-3xl font-medium">¿Listo para comenzar tu proyecto?</h4>
        <p class="mb-6 mt-2 max-w-[55ch] text-balance font-light opacity-80">
          Envíenos un mensaje a través de uno de nuestros enlaces o completando
          nuestro formulario de contacto y comenzaremos lo antes posible.
        </p>
        <Button icon="arrow-fwd">Solicitar Cotización</Button>
      </div>
      <ul
        class="flex max-w-[25rem] flex-wrap gap-6 border-l border-light pl-8 font-mono"
      >
        <li
          class="font-mono uppercase transition-all duration-200 ease-out hover:text-brand hover:underline"
        >
          <a href="/">wearefantomstudio@gmail.com</a>
        </li>
        <li
          class="font-mono uppercase transition-all duration-200 ease-out hover:text-brand hover:underline"
        >
          <a href="/">Instagram</a>
        </li>
        <li
          class="font-mono uppercase transition-all duration-200 ease-out hover:text-brand hover:underline"
        >
          <a href="/">Twitter</a>
        </li>
        <li
          class="font-mono uppercase transition-all duration-200 ease-out hover:text-brand hover:underline"
        >
          <a href="/">Solicitar Cotización</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Big logo -->
  <Image src={logoFull} alt="Fantom Studio Logo" class="mt-16 w-full" />
  <!-- Leyend and link to top -->
  <div
    class="flex flex-wrap items-center justify-center gap-8 sm:justify-between"
  >
    <p class="text-center font-mono ~text-xs/base sm:text-start">
      Designed and Developed with ❤️ by Fantom Studio
    </p>
    <a href="/#top" class="flex gap-2 transition hover:text-brand"
      ><span>Back to top</span> <Icon name="arrow-top" class="size-6" /></a
    >
  </div>
</footer>
