---
import { Image } from "astro:assets";
import logoFull from "../assets/logo-full.svg";

const currentYear = new Date().getFullYear();
---

<footer
  id="contact"
  class="bg-gradient-to-b from-g-primary to-g-secondary px-page pb-8 pt-20 text-light"
>
  <div class="flex flex-col gap-8">
    <Image src={logoFull} alt="Fantom Studio Logo" class="w-full" />
    <ul class="flex justify-between gap-8">
      <li class="font-medium uppercase underline">
        <a href="/">wearefantomstudio@gmail.com</a>
      </li>
      <li class="font-medium uppercase underline">
        <a href="/">Instagram</a>
      </li>
      <li class="font-medium uppercase underline">
        <a href="/">Twitter</a>
      </li>
      <li class="font-medium uppercase underline">
        <a href="/">Request Proposal</a>
      </li>
    </ul>
  </div>
  <p class="mt-16 text-center font-medium">
    Designed and Developed with ❤️ by Fantom Studio
  </p>
</footer>
