---
import { Image } from "astro:assets";
import logoFull from "../assets/logo-full.svg";

const currentYear = new Date().getFullYear();
---

<footer
  class="px-page pt-20 pb-8 bg-gradient-to-b from-g-primary to-g-secondary text-light"
>
  <div class="flex flex-col gap-8">
    <Image
      src={logoFull}
      alt="Fantom Studio Logo"
      class="w-full"
    />
    <ul class="flex justify-between gap-8">
      <li class="uppercase underline font-medium">
        <a href="/">wearefantomstudio@gmail.com</a>
      </li>
      <li class="uppercase underline font-medium">
        <a href="/">Instagram</a>
      </li>
      <li class="uppercase underline font-medium">
        <a href="/">Twitter</a>
      </li>
      <li class="uppercase underline font-medium">
        <a href="/">Request Proposal</a>
      </li>
    </ul>
  </div>
  <p class="text-center mt-16 font-medium">Designed and Developed with ❤️ by Fantom Studio</p>
</footer>
