---
import { Icon } from "astro-icon/components";
import Button from "./ui/Button.astro";
---

<nav
  class="sticky left-0 right-0 top-0 z-50 flex h-nav items-center justify-between border-b border-light border-opacity-10 bg-dark bg-opacity-75 py-6 backdrop-blur ~gap-4/6 ~px-4/20 sm:h-auto sm:justify-normal"
>
  <a
    href="/"
    class="transition duration-300 ease-out hover:-translate-y-[2px] hover:text-white"
  >
    <Icon name="logo" class="hidden h-6 w-32 text-light sm:block" />
    <Icon name="eyes" class="size-8 text-light sm:hidden" />
  </a>
  <button class="z-50" id="menu-toggle"
    ><Icon name="burger" class="size-9 sm:hidden" /></button
  >
  <ul class="hidden flex-grow ~text-xs/base ~gap-4/8 sm:flex">
    <li
      class="font-light transition ease-out hover:-translate-y-[1px] hover:text-brand-3"
    >
      <a href="/#services">Services</a>
    </li>
    <li
      class="font-light transition ease-out hover:-translate-y-[1px] hover:text-brand-3"
    >
      <a href="/#projects">Showcase</a>
    </li>
    <li
      class="font-light transition ease-out hover:-translate-y-[1px] hover:text-brand-3"
    >
      <a href="#contact">Contact</a>
    </li>
  </ul>
  <Button type="button" desktop={true} proposal>Request a Proposal</Button>
</nav>
<div
  id="menu-bg"
  class="menu-toggle fixed inset-0 z-40 hidden bg-dark bg-opacity-60 opacity-0 backdrop-blur"
>
</div>

<script>
  import { gsap } from "gsap";
  if (window.matchMedia("(max-width: 39.99rem)").matches) {
    const tl = gsap.timeline({ paused: true });

    tl.to("#menu-bg", {
      display: "block",
      opacity: 1,
      duration: 0.25,
      ease: "power3.out",
    });
    tl.to(
      "body",
      {
        overflow: "hidden",
      },
      "<",
    );
    tl.to(
      "#nav",
      {
        backgroundColor: "#FCFCFC",
        duration: 0,
      },
      "<",
    );
    tl.to(
      "#menu",
      {
        visibility: "visible",
      },
      "<",
    );

    function toggleMenu() {
      tl.reversed() ? tl.play() : tl.reverse();
    }

    const menuToggles = document.querySelectorAll(".menu-toggle");
    menuToggles.forEach((menuToggle) => {
      menuToggle.addEventListener("click", () => toggleMenu());
    });
  }
</script>
