---
import { Icon } from "astro-icon/components";
import Button from "./ui/Button.astro";
---

<nav id="nav" class="fixed top-0 left-0 right-0 text-light z-40">
  <div class="px-page py-12 flex items-center justify-between">
    <a href="/"> 
      <Icon name="logo" class="w-32 h-6" />
    </a>
    <menu class="flex items-center gap-8">
      <li>
        <a href="/#services" class="px-4 py-2 text-base">Services</a>
      </li>
      <li>
        <a href="/#projects" class="px-4 py-2 text-base">Projects</a>
      </li>
      <li>
        <a href="/" class="px-4 py-2 text-base">Contact</a>
      </li>
    </menu>
    <Button href="/" buttonType="link" text="Request a Proposal" />
  </div>
</nav>
