---
import { Icon } from "astro-icon/components";
import Button from "./ui/Button.astro";
---

<script src="../utils/navAnimation.js"></script>

<header
  id="nav"
  class="sticky left-0 right-0 top-0 z-40 flex items-center justify-between bg-light bg-opacity-50 py-6 backdrop-blur ~px-4/20"
>
  <a
    href="/"
    class="transition duration-300 ease-out hover:-translate-y-[2px] hover:text-white"
  >
    <Icon name="logo" class="hidden h-6 w-32 text-dark sm:block" />
    <Icon name="ghost" class="size-8 text-dark sm:hidden" />
  </a>
  <div class="hidden items-center gap-4 sm:flex">
    <nav
      class="flex list-none items-center rounded-lg border border-dark bg-light ~text-xs/base"
    >
      <li
        class="rounded-lg px-4 py-2 transition duration-300 ease-out hover:bg-dark hover:bg-opacity-[3%]"
      >
        <a href="/#services">Servicios</a>
      </li>
      <li
        class="rounded-lg px-4 py-2 transition duration-300 ease-out hover:bg-dark hover:bg-opacity-[3%]"
      >
        <a href="/#projects">Proyectos Destacados</a>
      </li>
      <li
        class="rounded-lg px-4 py-2 transition duration-300 ease-out hover:bg-dark hover:bg-opacity-[3%]"
      >
        <a href="#contact">Contactos</a>
      </li>
    </nav>
    <Button icon="arrow-fwd" intent={"secondary"}>Solicitar Cotización</Button>
  </div>
</header>
