---
import { Icon } from "astro-icon/components";
---

<nav id="nav" class="flex items-center gap-16">
  <Icon name="ghost" class="size-8" />
  <menu class="flex gap-12 items-center">
    <li
      gsap="about"
      class="text-lg relative transition-all duration-150 before:size-[0.40rem] before:-left-4 before:top-1/3 before:bg-brand-2 before:opacity-0 before:absolute before:rounded-full before:transition-all before:duration-200 hover:translate-x-1 hover:text-brand-2 hover:opacity-100 hover:before:opacity-100">
      <a href="/#about">About</a>
    </li>
    <li
      gsap="projects"
      class="text-lg relative transition-all duration-150 before:size-[0.40rem] before:-left-4 before:top-1/3 before:bg-brand-2 before:opacity-0 before:absolute before:rounded-full before:transition-all before:duration-200 hover:translate-x-1 hover:text-brand-2 hover:opacity-100 hover:before:opacity-100">
      <a href="/#projects">Projects</a>
    </li>
    <li
      gsap="contact"
      class="text-lg relative transition-all duration-150 before:size-[0.40rem] before:-left-4 before:top-1/3 before:bg-brand-2 before:opacity-0 before:absolute before:rounded-full before:transition-all before:duration-200 hover:translate-x-1 hover:text-brand-2 hover:opacity-100 hover:before:opacity-100">
      <a href="/#contact">Contact</a>
    </li>
  </menu>
</nav>
