---
import { Icon } from "astro-icon/components";
---

<nav id="nav" class="flex w-full items-center justify-between gap-16">
  <a href="/">
    <Icon name="ghost" class="size-8 opacity-0" />
  </a>
  <menu class="flex gap-12 items-center text-2xl leading-none uppercase">
    <li>
      <a href="/#about">About</a>
    </li>
    <li>
      <a href="/#projects">Projects</a>
    </li>
    <li>
      <a href="/#contact">Contact</a>
    </li>
  </menu>
</nav>
