---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Pill from "./ui/Pill.astro";

interface Props {
  image: ImageMetadata;
  title: string;
  siteType: "Marketing site" | "E-commerce site" | "Web app";
  service: "Design & Development" | "Development" | "Design";
}

const { image, title, siteType, service } = Astro.props;
---

<li class="group/project">
  <a href="/" class="flex flex-col gap-4 transition duration-500 ease-out">
    <div
      class="rounded-xl overflow-hidden aspect-square group-hover/project:rounded-3xl duration-500 ease-out"
    >
      <Image
        src={image}
        alt="La Postreria 77"
        class="size-full object-cover group-hover/project:scale-105 transition duration-500 ease-out"
      />
    </div>
    <div class="flex justify-between gap-8">
      <div class="flex flex-col gap-2 items-start">
        <h3 class="text-2xl font-display">{title}</h3>
        <Pill intent={"secondary"}>{siteType}</Pill>
      </div>
      <p class="text-xl">
        {service}
      </p>
    </div>
  </a>
</li>
