---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  span: string;
}

const { title, span } = Astro.props;
---

<div
  class="flex flex-row items-center justify-between ~gap-2/4 sm:justify-start"
>
  <h2 class="text-balance font-medium leading-tight ~text-3xl/5xl">
    {title}
    <span class="text-brand-3">{span}</span>
  </h2>
  <Icon name={"arrow-dia"} class="flex-shrink-0 ~size-6/8" />
</div>
