---
import { Icon } from "astro-icon/components";
import { type Service } from "../utils/services";

interface Props {
  service: Service;
}

const { service } = Astro.props;
const { icon, title, description } = service;
---

<div>
  <Icon name={icon} class="mb-4 size-10" />
  <h3 class="font-display mb-2 text-xl">{title}</h3>
  <p class="font-regular leading-relaxed opacity-60">
    {description}
  </p>
</div>
