---
export function getStaticPaths() {
  return [
    {params: {project: 'postreria'}},
    {params: {project: 'pgco'}},
    {params: {project: 'victoria'}},
  ];
}

const { project } = Astro.params;
---
<div>Project name: {project}</div>
