---
import Layout from '../../layouts/Layout.astro';
import projects from '../../utils/projects';

export function getStaticPaths() {
  return {
    paths: projects.map((project) => ({ params: { project } })),
    fallback: false,
  };
}

const { project } = Astro.params;
---
<div>Project name: {project}</div>
