---
import { SEO } from "astro-seo";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/zmd4nhu.css" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      titleDefault="Fantom"
      description={description}
      openGraph={{
        basic: {
          title: "Fantom | Web Design & Development",
          type: "website",
          image: "https://fantom.netlify.app/nnf-og.png",
          url: "https://fantom.netlify.app/",
        },
      }}
    />
  </head>
  <body class="p-0 m-0 bg-light-2 text-brand-1 font-body">
    <slot />
    <style is:global>
      @font-face {
        font-family: "itc-avant-garde-gothic-pro", sans-serif;
        font-weight: 300;
        font-style: normal;
      }

      @font-face {
        font-family: "itc-avant-garde-gothic-pro", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      @font-face {
        font-family: "itc-avant-garde-gothic-pro", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      :root {
        /* Spacing variables */
        --page-main: var(--page-desktop);
        --page-desktop: 1.5rem;
        --page-tablet: 1.25rem;
        --page-mobile: 1rem;
      }
      .hide-scrollbar::-webkit-scrollbar {
        display: none;
      }
      .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>
  </body>
</html>
