---
// Component imports
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

// Font imports
import "@fontsource-variable/outfit";
import ContactForm from "../components/ContactForm.astro";

// Props type
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/zmd4nhu.css" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      titleDefault="Fantom"
      description={description}
      openGraph={{
        basic: {
          title: "Fantom | Web Design & Development",
          type: "website",
          image: "https://fantom-nine.vercel.app/og.png",
          url: "https://fantom-nine.vercel.app/",
        },
      }}
    />
  </head>
  <body
    class="m-0 overflow-x-clip overscroll-none bg-dark p-0 font-sans font-normal tracking-tighter text-light"
  >
    <Navbar />
    <slot />
    <ContactForm />
    <Footer />
    <script src="../utils/proposalModal.js"></script>
    <style is:global>
      @font-face {
        font-family: "Geist-Sans";
        src: url("../fonts/GeistVF.ttf") format("truetype");
        font-weight: 300 800;
        font-display: swap;
        font-style: normal;
      }
      @font-face {
        font-family: "Geist-Mono";
        src: url("../fonts/GeistMonoVF.ttf") format("truetype");
        font-weight: 300 800;
        font-display: swap;
        font-style: normal;
      }
      :root {
        /* Font variables */
        --nav-height: 4.5rem;
        /* Color variables */
        --dark: #151516;
        --light: #fcfcfc;
        --bg-color: var(--dark);
        --text-color: var(--light);
      }

      p {
        font-weight: 300;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 400;
      }

      .hide-scrollbar::-webkit-scrollbar {
        display: none;
      }
      .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>
  </body>
</html>
