---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";

const button = cva(
  "px-4 rounded-lg py-2 flex items-center justify-center gap-2 transition duration-300 ease-out group drop hover:shadow-lg ~text-sm/lg",
  {
    variants: {
      intent: {
        primary: ["bg-brand", "hover:bg-brand-2", "text-light"],
        secondary: ["bg-dark", "text-light"],
        terciary: [
          "bg-dark",
          "bg-opacity-0",
          "text-dark",
          "border-[1.5px]",
          "border-dark",
          "hover:bg-opacity-5",
        ],
      },
    },
  },
);

export interface Props
  extends HTMLAttributes<"button">,
    VariantProps<typeof button> {
  icon?: string;
}

const { intent = "primary", icon } = Astro.props;
---

<button class={button({ intent })}>
  <slot />
  {
    icon && (
      <Icon
        name={icon}
        class="size-4 text-current transition duration-200 ease-out group-hover:translate-x-[2px]"
      />
    )
  }
</button>
