---
interface Props {
  children: string;
  filled?: boolean;
}

const { filled = false } = Astro.props; 
---

<div
  class="px-4 pb-1 pt-[6px] bg-alt-2 bg-opacity-10 text-alt-2 rounded-full border border-alt-2 border-opacity-15 text-xs font-semibold leading-none uppercase mb-4"
>
  <slot />
</div>
