---
---

<div
  class="px-4 pb-1 pt-[6px] bg-brand-2 bg-opacity-10 text-brand-2 rounded-full border border-brand-2 border-opacity-10 text-xs font-semibold leading-none uppercase mb-4"
>
  <slot />
</div>
